<%- layout("/layouts/boilerplates.ejs") %>
    <section>
        <div class="m-auto col-sm-11 col-md-11 col-lg-10 col-xl-9 col-12 mt-4 p-3">
            <div class=" d-flex user-data-container">
                <div class="d-flex justify-content-center mb-4 me-4">
                    <img src="<%= user.profile.profilePicture.url %>" alt="" height="250"
                        class="user-profile-picture rounded-circle">
                </div>

                <div class=" border-1 col-sm">
                    <div class="d-flex justify-content-between">
                        <span>
                            <p class="fs-4 text-primary fw-bold text-break">
                                <%= user.email %> <span class="text-body-secondary fs-6 fw-light fst-italic"> <%=
                                            (user.role || "student" ).toLowerCase() %></span>
                            </p>

                        </span>
                        <% if(loginUser._id.equals(user._id)) { %>
                            <span class=" edit-profile-btn btn-hover">
                                <a href="/JobHelper/userprofile"><i class="fa-solid fa-square-pen"></i></a>
                            </span>
                        <% } %>
                    </div>
                    <p class="fs-4 fw-bold text-secondary mt-2">
                        <%= user.profile.headline %>
                    </p>
                    <div class="d-flex mt-4 align-items-center col-11 justify-content-between">
                        <div >
                            <button class="btn btn-info mb-2" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasRight1" aria-controls="offcanvasRight1">
                                <b><i class="fas fa-user-plus"></i>followers <span
                                        class="badge bg-primary-subtle text-black">
                                        <%= user.profile.followers.length %>
                                    </span></b>
                            </button>

                            <button class="btn btn-info mb-2" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasRight2" aria-controls="offcanvasRight2">
                                <b><i class="fas fa-users"></i></i>following <span
                                        class="badge bg-primary-subtle text-black">
                                        <%= user.profile.following.length %>
                                    </span></b>
                            </button>
                        </div>
                        <ul class="d-flex fs-4 align-items-center mb-0 ps-0 list-unstyled">
                            <li><a href="<%= user.profile.socialLinks.github %>" class="hoverEff1"><i
                                        class="fa-brands fa-square-github text-body-secondary"></i></a></li>

                            <li><a href="<%= user.profile.socialLinks.linkedin %>" class="hoverEff1"><i
                                        class="fa-brands fa-linkedin text-body-secondary"></i></a></li>

                            <li><a href="<%=  %>" class="hoverEff1"><i
                                        class="fa-brands fa-discord text-body-secondary"></i></a></li>

                            <li><a href="#" class="hoverEff1"><i
                                        class="fa-brands fa-square-facebook text-body-secondary"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="width-100 mt-5">
                <div class="d-flex">
                    <button class="col-6 p-2 fw-bold text-success userContent userContent-btn"><i
                            class="fas fa-pencil-alt text-success"></i> Posts</button>
                    <button class="col-6 p-2 fw-bold text-success userContent"><i class="fas fa-tools changeToGreen"></i>
                        Skills</button>
                </div>

                <div class="specific-user mt-1">
                    <% for(let post of posts) {%>
                        <div class=" border-3 border-bottom border-success mt-4 pb-3">

                            <a href="/JobHelper/aboutPost/<%= post._id %>" class="d-flex">
                            
                                <div class="container-box ">
                                    <% if(post.imageLink.url) { %>
                                        <img class="col-sm-12 rounded post-image col-lg-4 col-md-5 col-xl-5 fit-content" src="<%= post.imageLink.url %>" alt="">
                                    <% } %>
                                
                                    <div class="line-reducer post-data pt-0" style="white-space: pre-wrap;">
                                        <p >
                                            <%= post.title %>
                                        </p>
                                    </div>
                                </div>
                            </a>
                            <ul class="response-buttons">
                                <li class="post-likes">
                                    
                                    <% if(post.likes.some((like) => like.toString() === loginUser._id.toString())) { %>
                                        <div class="d-flex align-items-center flex-nowrap positive-like me-3">
                                            <i class="fa-solid fa-thumbs-up text-danger"></i>
                                            <span>
                                                <%= post.likes.length %>
                                            </span>
                                        </div>
                                    <% } else { %>
                                        <button class="d-flex align-items-center flex-nowrap positive-like me-3" data-id="<%= post._id %>">
            
                                            <i class="fa-regular fa-thumbs-up"></i>
                                            <span id="like-count-<%= post._id %>">
                                                <%= post.likes.length %>
                                            </span>
                                        </button>
                                    <% } %>
                                    <i class="fa-regular fa-thumbs-down"></i>
                                </li>
                                <li>
                                    <a href="#">Share<i class="fa-regular fa-paper-plane"></i></a>
                                </li>
                                <li>
                                    <a href="#">Report<i class="fa-solid fa-share-nodes"></i></i></a>
                                </li>
                                <li>
                                    <a href="#">Save<i class="fa-regular fa-bookmark"></i></a>
                                </li>
                            </ul>
                            <ul class="ps-0 pe-0 mt-1 list-unstyled">
                                <% for(let comment of post.comments) {%>
                                    <li class="mt-2 mb-2">

                                        <a href="/JobHelper/user/<%= comment.user._id %>"
                                            class="d-flex justify-content-between align-items-center">
                                            <div class="d-flex align-items-center">
                                                <img src="<%= comment.user.profile.profilePicture.url %>" alt=""
                                                    class="user-image">
                                                <span class="user-container pb-1">
                                                    <b class="text-break line-reducer">
                                                        <%= comment.user.email %>
                                                    </b>
                                                    <p class="user-headline headline-reducer">
                                                        <%= comment.user.profile.headline %>
                                                    </p>
                                                </span>
                                            </div>

                                            <% if( comment.user._id==loginUser._id) {%>
                                                <form method="post"
                                                    action="/JobHelper/post/<%= post %>/comment/<%= comment._id %>?_method=DELETE">
                                                    <button type="submit"
                                                        class="border-0 bg-transparent comment-delete-btn"><i
                                                            class="fa-solid fa-trash"></i></button>
                                                </form>
                                                <% } %>
                                        </a>

                                        <div class="comment-title ms-5 bg-body-secondary p-2 rounded">
                                            <p class="text-break">
                                                <%= comment.comment %>
                                            </p>
                                        </div>
                                        <ul class="d-flex ps-0 mb-0 p-1 ms-5 list-unstyled">
                                            <li class="ps-2"><i class="fa-regular fa-thumbs-up text-secondary"></i></li>
                                            <li class="ps-2"><i class="fa-solid fa-share text-secondary"></i></li>
                                            <li class="ps-2">block<i class="fa-solid fa-ban text-secondary"></i></li>

                                            <li class="ps-2">
                                                <% if( comment.user._id.equals(loginUser._id)) { %>
                                                    <form method="post" action="/JobHelper/post/<%= post._id %>/comment/<%= comment._id %>?_method=DELETE">
                                                        <button type="submit" class="bg-transparent text-danger border-0"><i class="fa-solid fa-trash text-danger"></i>&nbsp;Delete</button>
                                                    </form>
                                                <% } %>
                                            </li>
                                        </ul>
                                    </li>
                                <% } %>
                            </ul>
                        </div>
                    <% } %>

                </div>

                <div class="col-12 specific-user content-result mt-1">

                    <div class="Education-section card-hover card mb-3">
                        <div class="card-body">
                            <span class="d-flex justify-content-between">
                                <h5 class="card-title text-bold fs-4 fw-bold ">
                                    <i class="fa-solid fa-user-graduate"></i> Education
                                </h5>
                                <a href="/JobHelper/update/user-content"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                            </span>

                            <% for(let edu of user.profile.education) {%>
                                <div class="ms-3 pt-2 pb-1">
                                    <p class="fw-medium text-secondary text-body-secondary "> 
                                        <span class="text-decoration-underline">Institution:</span>
                                        <span class="text-black text-break">
                                            <%= edu.institution %>
                                        </span>
                                    </p>
                                    <p class="fw-medium text-secondary text-body-secondary">
                                        <span class="text-decoration-underline">Degree:</span>
                                        <span class="text-black text-break">
                                            <%= edu.degree %>
                                        </span>
                                    </p>
                                    <p class="fw-medium text-secondary text-body-secondary">
                                        <span class="text-decoration-underline">Specialization:</span>
                                        <span class="text-black text-break">
                                            <%= edu.fieldOfStudy %>
                                        </span>
                                    </p>
                                    <p class="fw-medium text-secondary text-body-secondary">
                                        <span class="text-decoration-underline">Duration:</span>
                                        <span class="text-black text-break">
                                            <%= edu.duration %>
                                        </span>
                                    </p>
                                </div>
                                <hr>
                            <% } %>
                        </div>
                    </div>

                    <div class="Education-section card-hover card mb-3">
                        <div class="card-body">
                            <span class="d-flex justify-content-between border-bottom mb-2">
                                <h5 class="card-title text-bold fs-4 fw-bold ">
                                    <i class="fas fa-cogs text-danger"></i> Skills
                                </h5>
                                <a href="/JobHelper/update/user-content"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                            </span>

                            <span class="row">
                                <% for(let i=0; i < user.profile.skills.length; i++) {%>
                                    <p class="col-6 text-break">
                                        <%= i+1 %><i class="fa-solid fa-chevron-right m-0 me-1"></i>
                                         <%= user.profile.skills[i] %>
                                    </p>
                                <% } %>
                            </span>

                        </div>
                    </div>

                    <div class="Experience-section card-hover card mb-3">
                        <div class="card-body">
                            <span class="d-flex justify-content-between">
                                <h5 class="card-title text-bold fs-4 fw-bold"><i class="fas fa-briefcase"></i>
                                    Experience
                                </h5>
                                <a href="/JobHelper/update/user-content"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                            </span>
                            <!-- Iterate the experience section -->
                            <% for(let exp of user.profile.experience) { %>
                                <div class="border-top p-1 ">
                                    <p class="card-text text-body-secondary text-break ms-3">
                                        <span class="fw-medium text-secondary text-decoration-underline">Title: </span>
                                        <span class="text-black"><%= exp.title %></span>
                                    </p>
                                    <p class="card-text text-body-secondary text-break ms-3">
                                        <span class="fw-medium text-secondary text-decoration-underline">Company: </span>
                                        <span class="text-black"><%= exp.company %></span>
                                    </p>
                                    <p class="card-text text-body-secondary text-break ms-3">
                                        <span class="fw-medium text-secondary text-decoration-underline">Duration: </span>
                                        <span class="text-black"><%= exp.duration %></span>
                                    </p>
                                    <p class="card-text text-body-secondary text-break ms-3">
                                        <span class="fw-medium text-secondary text-decoration-underline">Description: </span>
                                        <span class="text-black"><%= exp.description %> %></span>
                                    </p>
                                </div>
                            <% } %>
                        </div>
                    </div>

                    <div class="Projects-section card-hover card mb-3">
                        <div class="card-body">
                            <span class="d-flex justify-content-between">
                                <h5 class="card-title text-bold fs-4 fw-bold"><i class="fa-solid fa-code"></i> Projects
                                </h5>
                                <a href="/JobHelper/update/user-content"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                            </span>
                            <!-- Iterate the experience section -->
                            <% for(let project of user.profile.projects){ %>
                                <div class="border-top p-1 ">
                                    <p class="card-text text-body-secondary text-break ms-3">
                                        <span class="fw-medium text-secondary text-decoration-underline">Title: </span>
                                        <span class="text-black"><%= project.title %></span>
                                    </p>
                                    <p class="card-text text-body-secondary text-break ms-3">
                                        <span class="fw-medium text-secondary text-decoration-underline">Description: </span>
                                        <span class="text-black"><%= project.description %></span>
                                        
                                    </p>
                                    <ul class="card-text text-body-secondary d-flex ps-0 text-break ms-3 mb-0">
                                        <span class="fw-medium text-secondary text-decoration-underline">Technology: </span>
                                        <span class="text-black"><%= project.technologies %>&nbsp;</span>
                                    </ul>
                                    <p class="card-text text-body-secondary text-break ms-3">
                                        <span class="fw-medium text-secondary text-decoration-underline">Link: </span>
                                        <a href="<%= project.link %>" class="text-primary">project.link</a>
                                    </p>
                                </div>
                            <% } %>
                        </div>
                    </div>

                    <div class="card mb-3 card-hover p-3">
                        <span class="d-flex justify-content-between">
                            <h5 class="card-title text-bold fs-4 fw-bold"><i class="fa-solid fa-certificate"></i>
                                Certificates</h5>
                            <a href="/JobHelper/update/user-content"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                        </span>
                        <div class="row g-0">
                            <% for(let certificat of user.profile.certifications) { %>
                                <p class="card-title"> <span class="fw-medium text-secondary text-decoration-underline">Title: </span>
                                    <%= certificat.title %>
                                </p>
                                <div class="mb-4">
                                    <img src="<%= certificat.link.url %>" class="rounded-start col-12" alt="">
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="user-reviews">
                <h5 class="card-title text-bold fs-4 fw-bold mt-3"><i class="fa-regular fa-circle-check"></i> Reviews:
                </h5>
                <hr>
                <ul class=" justify-content-evenly list-unstyled ps-0 mb-0">

                    <% for(let review of user.profile.reviews) { %>

                        <li class="card-hover col-12 col-md-5 col-lg-4 col-sm-12 col-xl-4 border rounded p-1 m-1"
                            style="height: fit-content;">
                            <div class="d-flex border-bottom ">
                                <img src="<%= review.user.profile.profilePicture.url %>" alt="" class="user-image">
                                <div class="ms-2">
                                    <a href="#" class="text-break fs-6 fw-bold text-primary line-reducer">
                                        <%= review.user.email %>
                                    </a>
                                    <p class="line-reducer text-secondary mb-1" style="font-size: 0.7rem;">
                                        <%= review.user.profile.headline %>
                                    </p>
                                </div>
                            </div>
                            <span class="m-auto ms-0">
                                <% for(let i=0; i < 5; i++) { %>
                                    <% if(review.rating> i) {%>
                                            <i class="fa-solid fa-star text-warning"></i>
                                        <% } else {%>
                                            <i class="fa-regular fa-star opacity-50"></i>
                                        <% } %>
                                    <% } %>
                            </span>
                            <p class="border-bottom pb-1">
                                <%= review.reviewTitle %>
                            </p>

                            <ul class="d-flex ps-0 mb-0 p-1 list-unstyled">
                                <li class="pe-2"><i class="fa-regular fa-thumbs-up text-secondary"></i></li>
                                <li class="pe-2"><i class="fa-solid fa-share text-secondary"></i></li>
                                <li class="pe-2">block<i class="fa-solid fa-ban text-secondary"></i></li>

                                <li class="pe-2">
                                    <% if(review.user._id.equals(loginUser._id)) { %>
                                        <button type="button" class="comment-delete-btn border-0 bg-transparent"
                                            data-bs-toggle="modal" data-bs-target="#deletereviewalert<%= review._id %>">
                                            <i class="fas fa-times-circle"></i>
                                        </button>
                                    <% } %>

                                    <!-- review delete warning -->
                                    <div class="modal fade" id="deletereviewalert<%= review._id %>" tabindex="-1"
                                        data-bs-backdrop="static" aria-labelledby="exampleModalLabel"
                                        aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header d-flex align-items-center">
                                                    <h1 class="modal-title fs-5 text-break fw-bolder"
                                                        id="exampleModalLabel"><i
                                                            class="fa-regular fa-circle-question text-danger fw-bolder fs-3"></i>
                                                            Do You Want To Delete This Review</h1>
                                                    <button type="button" class="btn-close"
                                                        data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal"><i class="fa-solid fa-xmark text-light"></i>No</button>

                                                    <form method="post"
                                                        action="/JobHelper/reviews/<%= review._id %>/delete/<%= user._id %>?_method=DELETE">
                                                        <!-- write url -->
                                                        <button type="submit"
                                                            class="btn btn-danger"><i class="fa-solid fa-check text-light"></i>Yes</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>

                        <% } %>
                </ul>

                <form method="post" action="/JobHelper/reviews/<%= user._id %>"
                    class="needs-validation mt-3 review-form" novalidate>
                    <p class="changeToGreen fw-bold">Share Your Valuable Feedback with Us: </p>

                    <label for="Rating">Rating</label>
                    <fieldset class="starability-slot">
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked
                            aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>

                    <div>
                        <textarea name="review[reviewTitle]" id="comment" class="col-12 form-control no-focus-border"
                            rows="2" placeholder="Feedback/Review For This Post." required></textarea>
                        <div class="invalid-feedback">
                            Please Enter Feedback
                        </div>
                    </div>
                    <button type="submit" class="btn btn-outline-dark mt-1">Submit</button>
                </form>
            </div>
        </div>

        <!-- First Right Offcanvas(followers) -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight1" aria-labelledby="offcanvasRightLabel1">
            <div class="offcanvas-header border-bottom">
                <h5 class="offcanvas-title d-flex" id="offcanvasRightLabel1">
                    <img src="<%= user.profile.profilePicture.url %>" alt="" class="user-image">
                    <p class="changeToGreen m-auto fw-bold ms-3 fs-4 hover-border-bottom">Followers <span
                            class="badge bg-success-subtle text-black">
                            <%= user.profile.followers.length %>
                        </span></p>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body user-network-box">
                <ul class="ps-0 user-network">
                    <% for(let follower of user.profile.followers) {%>
                        <li class="d-flex ms-3 me-3 mt-1 p-1 rounded" style="background-color: rgb(147 199 250 / 14%);">
                            <img src="<%= follower.user.profile.profilePicture.url %>" alt="" class="user-image">
                            <div class="ms-2" style="width: 15rem;">
                                <span class="d-flex justify-content-between align-items-center">
                                    <a href="/JobHelper/user/<%= follower.user._id %>"
                                        class="text-break text-primary fs-6 line-reducer">
                                        <%= follower.user.email %>
                                    </a>
                                </span>
                                <p class="text-break headline-reducer">
                                    <%= follower.user.profile.headline %>
                                </p>
                            </div>
                        </li>
                        <% } %>
                </ul>
            </div>
        </div>

        <!-- second Right Offcanvas(following) -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight2" aria-labelledby="offcanvasRightLabel2">
            <div class="offcanvas-header border-bottom">
                <h5 class="offcanvas-title d-flex" id="offcanvasRightLabel1">
                    <img src="<%= user.profile.profilePicture.url %>" alt="" class="user-image">
                    <p class="changeToGreen m-auto fw-bold ms-3 fs-4 hover-border-bottom">Following <span
                            class="badge bg-success-subtle text-black">
                            <%= user.profile.following.length %>
                        </span></p>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="ps-0 user-network">
                    <% for(let follow of user.profile.following) {%>
                        <li class="d-flex ms-3 me-3 mt-1 p-1 rounded"  style="background-color: rgb(147 199 250 / 14%);">
                            <img src="<%= follow.user.profile.profilePicture.url %>" alt="" class="user-image">
                            <div class="ms-2" style="width: 15rem;">
                                <span class="d-flex justify-content-between align-items-center">
                                    <a href="/JobHelper/user/<%= follow.user._id %>"
                                        class="text-break text-primary fs-6 line-reducer">
                                        <%= follow.user.email %>
                                    </a>
                                </span>
                                <p class="text-break headline-reducer">
                                    <%= follow.user.profile.headline %>
                                </p>
                            </div>
                        </li>
                        <% } %>
                </ul>
            </div>
        </div>
    </section>