<%- layout("/layouts/boilerplates.ejs") %>

    <div class="user-posted-box col-sm-11 col-md-11 col-lg-10 col-xl-9 m-auto mt-4 p-2">

        <div class="post-header d-flex border p-3 rounded bg-gradient">
            <a href="/JobHelper/user/<%= post.user._id %>">
                <span class="user-email d-flex">
                    <div class="d-flex align-items-center">
                        <img src="<%= post.user.profile.profilePicture.url %>" alt="" class="user-image">
                    </div>
                    <span class="user-container pb-1">
                        <b class="text-break text-primary-emphasis line-reducer">
                            <%= post.user.email %>
                        </b>
                        <p class="user-headline text-secondary fw-semibold line-reducer">
                            <%= post.user.profile.headline %>
                        </p>
                    </span>
                </span>
            </a>
            <button type="button" class="btn btn-outline-info rounded-pill ms-auto fw-semibold">
                <a href="#" class="ps-2 pe-2">Follow</a></button>
        </div>

        <div class="d-flex justify-content-between mt-1">
            <p class="text-body-secondary mt-1">Posted At: 
                <%= post.createdAt.toString().split(" ").slice(1,4).join("-") %>
                <% if(post.createdAt.toDateString() !== post.updatedAt.toDateString()) { %>
                    <i class="text-danger m-0">
                        this post are updated at: <%= post.updatedAt.toString().split(" ").slice(1,4).join("-") %>
                    </i>
                <% } %>
                </p>
            <% if(post.user._id.equals(loginUser._id)) { %>
                <span class=" edit-profile-btn btn-hover">
                    <a href="/JobHelper/update/post/<%= post._id %>"><i class="fa-solid fa-pen text-secondary"></i></a>
                </span>
            <% } %>
        </div>

        <a type="button" data-bs-toggle="modal" class="w-100" data-bs-target="#secondModal">
            <div class="mt-1 img-fluid">
                <img src="<%= post.imageLink.url %>" alt="" class=" rounded posted-image card-img-top">
            </div>
        </a>

        <div class=" mt-4 border border-1 rounded p-2 bg-dark.bg-gradient ">
            <p class="post-title2 "  style="white-space: pre-wrap;">
                <%= post.title %>
            </p>
        </div>

        <ul class="response-buttons">

            <li class="post-likes">
                <% if(posts[i].likes.some((like) => like.toString() === loginUser._id.toString())) { %>
                    <div class="positive-like me-3">
                        <i class="fa-solid fa-thumbs-up text-danger"></i>
                        <span>
                            <%= posts[i].likes.length %>
                        </span>
                    </div>
                <% } else { %>
                    <button class="positive-like me-3" data-id="<%= posts[i]._id %>">

                        <i class="fa-regular fa-thumbs-up"></i>
                        <span id="like-count-<%= posts[i]._id %>">
                            <%= posts[i].likes.length %>
                        </span>
                    </button>
                <% } %>
                <i class="fa-regular fa-thumbs-down"></i>
            </li>

            <li>
                <a href="#">Share<i class="fa-regular fa-paper-plane"></i></a>
            </li>
            <li>
                <a href="#">Report<i class="fa-solid fa-share-nodes"></i></i></a>
            </li>
            <li>
                <a href="#">Save<i class="fa-regular fa-bookmark"></i></a>
            </li>
        </ul>

        <ul class="comment-box border rounded p-1 mt-4">
            <% for(let comment of post.comments) {%>
                <li class="mt-2 mb-2">

                    <a href="/JobHelper/user/<%= comment.user._id %>"
                        class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <img src="<%= comment.user.profile.profilePicture.url %>" alt="" class="user-image">
                            <span class="user-container pb-1">
                                <b class="text-break line-reducer">
                                    <%= comment.user.email %>
                                </b>
                                <p class="user-headline headline-reducer">
                                    <%= comment.user.profile.headline %>
                                </p>
                            </span>
                        </div>
                    </a>
                    <div class="comment-title">
                        <p class="text-break">
                            <%= comment.comment %>
                        </p>
                    </div>
                    <ul class="d-flex ps-0 mb-0 p-1 ms-5 list-unstyled">
                        <li class="ps-2"><i class="fa-regular fa-thumbs-up text-secondary"></i></li>
                        <li class="ps-2"><i class="fa-solid fa-share text-secondary"></i></li>
                        <li class="ps-2">block<i class="fa-solid fa-ban text-secondary"></i></li>

                        <li class="ps-2">
                            <% if( comment.user._id.equals(loginUser._id)) { %>

                                <button type="button" class="comment-delete-btn border-0 bg-transparent" data-bs-toggle="modal"
                                     data-bs-target="#deletecommentalert"><i class="fa-solid fa-trash"></i></button>
    
                                <!-- post delete warning -->
                                <div class="modal fade" id="deletecommentalert" tabindex="-1" data-bs-backdrop="static"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header d-flex align-items-center">
                                                <h1 class="modal-title fs-5 text-break fw-bolder" id="exampleModalLabel"><i
                                                        class="fa-regular fa-circle-question text-danger fw-bolder fs-3"></i>Do
                                                    you want to delete this comment</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
    
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Cancel</button>
                                                <form method="post"
                                                    action="/JobHelper/post/<%= post._id %>/comment/<%= comment._id %>?_method=DELETE">
                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                            <% } %>
                        </li>
                    </ul>
                </li>
            <% } %>
            <!-- patch request -->
            <hr>
            <form action="/JobHelper/comment/<%= post._id %>" method="post" class="input-group needs-validation"
                novalidate>
            
                <img src="<%= loginUser.profile.profilePicture.url %>" alt="" class="user-image rounded-circle me-2">
                <input type="text" class="form-control no-focus-border" placeholder="Add Comments" name="title"
                    required>
                <button class="btn border border-black comment-submit-btn ps-4 pe-4" type="submit">
                    Send
                </button>
            </form>
        </ul>
    </div>


    <!-- Second Modal -->
    <div class="modal fade modal-xl" id="secondModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="secondModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <button type="button" class="btn posted-image-close-btn" data-bs-dismiss="modal"><i
                            class="fa-solid fa-xmark text-body-emphasis"></i></button>
                    <img src="<%= post.imageLink.url %>" alt="" class=" rounded posted-image card-img-top h-100">
                </div>
            </div>
        </div>
    </div>